.toolbar {
  display: grid;
  place-items: center;
  background-color: var(--ehs-color-primary);
  -webkit-app-region: drag;

  position: sticky;
  z-index: 10000;
  top: 0;

  font-size: 12px;
  // opacity: 0.5;

  text-shadow:
    1px 1px 3px var(--text-shadow-color),
    5px 4px 24px var(--text-shadow-color);

  height: var(--titlebar-height);
}
