.slider {
  position: relative;

  border-radius: var(--ehs-border-radius);

  height: 40px;
  width: 100%;
}

.type\:rgb,
.type\:rgbw,
.type\:rgbww {
  background: linear-gradient(
    90deg,
    #f00 0%,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 66%,
    #f0f 83%,
    #f00 100%
  );
}

.type\:brightness {
  background: white
    linear-gradient(
      90deg,
      rgb(0% 0% 0%) 0%,
      rgb(0% 0% 0% / 0.9903926402016152) 6.25%,
      rgb(0% 0% 0% / 0.9619397662556434) 12.5%,
      rgb(0% 0% 0% / 0.9157348061512727) 18.75%,
      rgb(0% 0% 0% / 0.8535533905932737) 25%,
      rgb(0% 0% 0% / 0.7777851165098011) 31.25%,
      rgb(0% 0% 0% / 0.6913417161825449) 37.5%,
      rgb(0% 0% 0% / 0.5975451610080642) 43.75%,
      rgb(0% 0% 0% / 0.5) 50%,
      rgb(0% 0% 0% / 0.4024548389919359) 56.25%,
      rgb(0% 0% 0% / 0.3086582838174552) 62.5%,
      rgb(0% 0% 0% / 0.22221488349019902) 68.75%,
      rgb(0% 0% 0% / 0.14644660940672627) 75%,
      rgb(0% 0% 0% / 0.08426519384872733) 81.25%,
      rgb(0% 0% 0% / 0.03806023374435663) 87.5%,
      rgb(0% 0% 0% / 0.009607359798384785) 93.75%,
      rgb(0% 0% 0% / 0) 100%
    );
}

.type\:temperature {
  background: linear-gradient(
    90deg,
    #ff890e 0%,
    #ff9d42 10%,
    #ffae67 20%,
    #ffbc85 30.000000000000004%,
    #ffc99d 40%,
    #ffd4b2 50%,
    #ffdec4 60.00000000000001%,
    #ffe7d4 70%,
    #fff0e2 80%,
    #fff7ef 90%,
    #fffffb 100%
  );
}

.range {
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sliderKnob {
  position: relative;
  width: 32px;
  height: 100%;

  margin: 0 -11px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 100%;
    border-radius: 12px;
    background: hsl(0 0% 83% / 96%);
    transform: translate(-50%, -50%);

    transition: all ease-out 300ms;

    box-shadow: 1px 0 3px hsl(0deg 0% 0% / 12%);
  }

  &:active::before {
    box-shadow: 1px 0 7px hsl(0deg 0% 0% / 32%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: black;
    transform: translate(-50%, -50%);
  }
}
