.roomTitle {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 1;
  padding: 27px;
  padding-top: 40px;
  padding-bottom: 20px;
  line-height: 1;

  font-weight: 500;
  text-shadow:
    0 0 1px var(--text-shadow-color),
    5px 4px 18px var(--text-shadow-color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    backdrop-filter: brightness(0.25);

    :global([platform="darwin"]) & {
      backdrop-filter: blur(5px) brightness(0.25);
    }

    mask-image: var(--smooth-mask);
    z-index: -1;
  }
}
