@import "antd-overwrites";
@import "overlayscrollbars/overlayscrollbars.css";

body {
  font-family: system-ui;
  margin: auto;
  min-height: 100vh;

  display: grid;
  place-items: center;

  box-sizing: border-box;
  user-select: none;

  overflow: hidden;
}

html,
body {
  background: unset !important;
}

#root {
  display: contents;

  > * {
    color: var(--ehs-color-text);
  }
}
