// @import "overlayscrollbars/overlayscrollbars.css";

:root {
  --hf-titlebar-height: 35px;

  &[platform="darwin"] {
    --hf-titlebar-height: 30px;
  }
}

body {
  --md-ref-typeface-brand: system-ui;
  --md-ref-typeface-plain: system-ui;

  --md-sys-color-surface-container: var(--md-sys-color-surface-variant);

  font-family: system-ui;
  margin: auto;
  min-height: 100vh;

  display: grid;
  place-items: center;

  box-sizing: border-box;
  user-select: none;

  overflow: hidden;
}

// html,
// body {
//   background: unset !important;
// }

// // smoothly fade out scroll contents on the top
// [data-overlayscrollbars-contents] {
//   mask: linear-gradient(
//     180deg,
//     transparent,
//     rgba(0, 0, 0, 0.9) calc(var(--titlebar-height) * 0.8),
//     rgba(0, 0, 0, 1) calc(var(--titlebar-height)),
//     black
//   );
// }

// .os-scrollbar {
//   --os-size: 11px;
//   --os-padding-perpendicular: 3px;
//   --os-padding-axis: 0px;
//   --os-track-border-radius: 10px;

//   [platform="win32"] & {
//     --os-size: 10px;
//     --os-padding-perpendicular: 4px;
//   }

//   // dont let the scrollbar clash into the frame border
//   padding-bottom: 8px;
//   padding-top: calc(var(--titlebar-height) + 4px);

//   transition: background-color ease-out 240ms;

//   &:hover {
//     background: rgb(0 0 0 / 8%);

//     @media screen and (prefers-color-scheme: dark) {
//       background: rgb(255 255 255 / 8%);
//     }
//   }
// }
